<a href="https://colab.research.google.com/github/Shashank-Mittal/Machine-Learning-from-Basics-to-Advanced/blob/main/Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Pandas Topics**
1.   Series
2.   Dataframe
3.   Missing Data
4.   GroupBy
5.   Operations

In [2]:
import pandas as pd
import numpy as np

In [3]:
my_list = [1,2,3,4]
arr_1 = np.array([10,2,3,89])
pd.Series(data=arr_1)

0    10
1     2
2     3
3    89
dtype: int64

In [4]:
my_dict = {"a":1,"b":2,"c":3}  #keys will work as index 
pd.Series(my_dict)

a    1
b    2
c    3
dtype: int64

In [5]:
sales_ex = pd.Series(data = [10,20,30,40], index= ["USA","India","UK","Germany"])
sales_ex

USA        10
India      20
UK         30
Germany    40
dtype: int64

**Operations**

In [6]:
sales_ex_add = sales_ex + sales_ex  #we can do other operations as well
sales_ex_add

USA        20
India      40
UK         60
Germany    80
dtype: int64

**Dataframe**
(Dataframe is a collection of pandas series)

In [7]:
columns = ["Column1"]
data = pd.DataFrame(data = [10,20,30,40], index= ["USA","India","UK","Germany"], columns=columns)
data

         Column1
USA           10
India         20
UK            30
Germany       40

**Selection and Indexing**

In [9]:
data["Column1"]

USA        10
India      20
UK         30
Germany    40
Name: Column1, dtype: int64

In [11]:
data["add"] = data["Column1"] + data["Column1"]
data

         Column1  add
USA           10   20
India         20   40
UK            30   60
Germany       40   80

**DROP**

In [13]:
data = data.drop("add",axis=1)   #axis=1 for column and 0 for Row, default=0
data

         Column1
USA           10
India         20
UK            30
Germany       40

**Working with Rows**

In [20]:
data.loc[['India',"USA"]]

#if we use iloc means we have to provide row "INDEX" value

       Column1
India       20
USA         10

In [21]:
#Drop Row
data = data.drop("India")
data

         Column1
USA           10
UK            30
Germany       40

**Extract subset from dataframe**

In [22]:
S1 = data.loc[["UK","USA"],["Column1"]]
S1

     Column1
UK        30
USA       10

In [25]:
data[data["Column1"]>30]

         Column1
Germany       40